:root {
  --topbar-height: 48px;
  --sidebar-width: 240px;

  --totally-white: #fff;
  --totally-black: #000;

  --sidebar-transparent: #00000077;

  --dk-blue: #221d35;
  --dk-blue-2: #0f0922;
  --lt-blue: #302a4e;

  --pink: #fd828a;

  --card-white: #f3f3f3;
  --card-grey: #e2e2e2;
  --grey: #a6a6a6;
  --dk-grey: #767676;

  --col-link: #3306ce;
  --col-link-active: #6e3efe;

  --col--grey: #c3c3c3;

  /*--col-post-highlight: #bdebeb;*/
  --col-post-highlight: #cef0f0;
}

* {
  padding: 0;
  margin: 0;

  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;

  box-sizing: border-box;
}

a {
  color: var(--col-link);
  text-decoration: none;
}

a:hover {
  color: var(--col-link-active);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 500;
}

code {
  font-family: monospace;
}

blockquote {
  background-color: var(--card-grey);
  padding: 10px;
  margin: 2px;
}

ul {
  list-style: square inside;
}

ul > li {
  padding-left: 2px;
}

.loading_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 18px;
}

.rc-tooltip {
  opacity: 1 !important;
  /* Do this to prevent tooltip flickering */
  left: -999999px;
}

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  border-top-color: var(--dk-blue) !important;
}

.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  border-right-color: var(--dk-blue) !important;
}

.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  border-left-color: var(--dk-blue) !important;
}

.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  border-bottom-color: var(--dk-blue) !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
